
.container {
  background-color: #171a29;
  /* z-index: -1; */
  /* width: 100vw; */
 }
 

 .carousel {
   padding-top: 20px;
   width: 90%;
   height: 340px;
   display: flex;
   justify-content: center;
   overflow: hidden;
   margin-left: 5%;
 }

 .slider {
   display: flex;
   height: 100%;
   transition: all 0.5s;
  }


  .carImage {
   display: flex;
   align-items: center;
   margin: 20px 25px;
   width: 260px;
   height: 260px;
   color: rgb(5, 5, 5);
   font-size: 13px;
   font-weight: bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-size: 260px 260px;
 }

 .carImage > h1{
     padding-left: 45px;
     padding-top: 200px;
 }

  button.next {
   position: absolute;
   top: 225px;
   right: 4.6%;
   background-color: rgb(239, 232, 232);
   border-radius: 50%;
   border: none;
   cursor: pointer;
   color: black;
   padding: 12px;

 }
  button.prev {
   position: absolute;
   left: 4.6%;
   top: 225px;
   background-color: rgb(239, 232, 232);
   border-radius: 55%;
   border: none;
   cursor: pointer;
   outline: none;
   color: black;
  padding: 12px;
 }
 

 /* .block-text{
  position: absolute;
  bottom: 5px;
  color:white;
} */



 .controls button.prev:hover > img{
   position: relative;
   right: 5px;
   transition: ease 0.8s;
 }
 
 .controls button.next:hover > img{
   position: relative;
   left: 3px;
   transition: ease 0.8s;
 }
 
 .controls button > img {
  
   transition: position ease-in 0.5ms;
 }
 

 
 
.carImage:hover{
   transform: scale(105%, 105%);
 } 

 @media screen and (min-width:1440px){

  .carImage {
    display: flex;
    align-items: center;
    margin: 20px 40px;
    padding-left: 10px;
    width: 270px;
    height: 270px;
    color: rgb(247, 243, 241);
    font-size: 20px;
  }



  button.next {
    top: 225px;
    right: 3%;
    background-color: rgb(224, 211, 211);
    padding: 15px;
}

button.prev {
  position: absolute;
  left: 3%;
  top: 225px;
 padding: 15px;
}

 }



 @media screen and (max-width: 375px){

  .carousel {
    padding-top: 8px;
    height: 240px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-left: 290px;
  }


  .slider {
    display: flex;
    height: 100%;
    transition: all 0.5s;
   }


   .carImage {
     padding-bottom: 50px;
    display: flex;
    align-items: center;
    margin: 18px 45px;
    width: 190px;
    height: 190px;
    color: rgb(247, 243, 241);
    font-size: 10px;
    background-size: 190px 190px;

  }


  carImage > h1{
    padding-left: 18px;
}


button.next {
  top: 175px;
  right: 3%;
  background-color: rgb(224, 211, 211);
  padding: 10px;
}

button.prev {
position: absolute;
left: 3%;
top: 175px;
padding: 10px;
}

 }



 @media screen and (max-width: 425px){

  .carousel {
    padding-top: 14px;
    height: 290px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-left: 320px;
  }


  .slider {
    display: flex;
    height: 100%;
    transition: all 0.5s;
   }


   .carImage {
     padding-bottom: 50px;
    display: flex;
    align-items: center;
    margin: 18px 45px;
    width: 230px;
    height: 230px;
    color: rgb(85, 59, 46);
    font-size: 14px;
    background-size: 230px 230px;

  }


  carImage > h1{
    padding-left: 18px;
}


button.next {
  top: 195px;
  right: 8%;
  background-color: rgb(224, 211, 211);
  padding: 10px;
}

button.prev {
position: absolute;
left: 5%;
top: 195px;
padding: 10px;
}

 }



 @media screen and (min-width:427px) and (max-width:1024px){


  .carousel {
    padding-top: 20px;
    height: 270px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-left: 250px;
  }


  .slider {
    display: flex;
    height: 100%;
    transition: all 0.5s;
   }


   .carImage {
     padding-bottom: 50px;
    display: flex;
    align-items: center;
    margin: 18px 25px;
    width: 190px;
    height: 190px;
    color: rgb(247, 243, 241);
    font-size: 12px;
    background-size: 190px 190px;

  }


  carImage > h1{
    padding-left: 18px;
}


button.next {
  top: 195px;
  right: 3%;
  background-color: rgb(224, 211, 211);
  padding: 10px;
}

button.prev {
position: absolute;
left: 4%;
top: 195px;
padding: 10px;
}




 }

